# Dependencias
node_modules/

# Carpeta de compilación
dist/
build/

# Variables de entorno
.env

# Logs
*.log

# Configuración del editor
.vscode/
.idea/

# Cobertura de pruebas
coverage/

# Archivos del sistema
.DS_Store
Thumbs.db